// @font-face
//     font-family: "Montserrat"
//     src: url("../fonts/Montserrat/Montserrat-Regular.woff2") format("woff2"), 
//     url("../fonts/Montserrat/Montserrat-Regular.woff") format("woff"),
//     url("../fonts/Montserrat/Montserrat-Regular.ttf") format("truetype")
//     font-style: normal
//     font-weight: 400

@font-face
    font-family: "Montserrat"
    src: url("../fonts/Montserrat/Montserrat-Medium.woff2") format("woff2"), 
    url("../fonts/Montserrat/Montserrat-Medium.woff") format("woff"),
    url("../fonts/Montserrat/Montserrat-Medium.ttf") format("truetype")
    font-style: normal
    font-weight: 500

// @font-face
//     font-family: "Montserrat"
//     src: url("../fonts/Montserrat/Montserrat-MediumItalic.woff2") format("woff2"),
//     url("../fonts/Montserrat/Montserrat-MediumItalic.woff") format("woff"),
//     url("../fonts/Montserrat/Montserrat-MediumItalic.ttf") format("truetype")
//     font-style: italic
//     font-weight: 500    

@font-face
    font-family: "Montserrat"
    src: url("../fonts/Montserrat/Montserrat-Bold.woff2") format("woff2"),
    url("../fonts/Montserrat/Montserrat-Bold.woff") format("woff"),
    url("../fonts/Montserrat/Montserrat-Bold.ttf") format("truetype")
    font-style: normal
    font-weight: 700    

@font-face
    font-family: "Montserrat"
    src: url("../fonts/Montserrat/Montserrat-ExtraBold.woff2") format("woff2"),
    url("../fonts/Montserrat/Montserrat-ExtraBold.woff") format("woff"),
    url("../fonts/Montserrat/Montserrat-ExtraBold.ttf") format("truetype")
    font-style: normal
    font-weight: 800    

@font-face
    font-family: "BebasNeue"
    src: url("../fonts/BebasNeue/BebasNeueBold.woff2") format("woff2"), 
    url("../fonts/BebasNeue/BebasNeueBold.woff") format("woff"),
    url("../fonts/BebasNeue/BebasNeueBold.ttf") format("truetype")
    font-style: normal
    font-weight: 700   

=cut-text ($number-of-rows)
    display: -webkit-box 
    -webkit-line-clamp: $number-of-rows
    -webkit-box-orient: vertical 
    //сайт can i use пишет, что это свойство не работает в Firefox, и нужно использовать префикс moz
    //но с 49 версии свойству layout.css.prefixes.webkit по умолчанию выставлено true, поэтому оно работает
    //ну и + я зашел на сайт через Firefox и этот браузер сам дописал свойство -moz-box-orient: vertical 
    text-overflow: ellipsis
    overflow: hidden
//использовать так +cut-text(число_строк)

html
    font-size: 62.5%


body
    font-family: "Montserrat"
    font-size: 1.6rem
    font-weight: 500
    // background-image: url(../img/bg-main.jpg)
    background-size: cover

.webp
    background-image: url(../img/bg-main.webp)
.no-webp
    background-image: url(../img/bg-main.jpg)


.webp .hero
    background-image: url(../img/bg-hero.webp)
    &::after
        background-image: url(../img/hero-woman.webp)
.no-webp .hero
    background-image: url(../img/bg-hero.png)
    &::after
        background-image: url(../img/hero-woman.png)

.webp .news
    background-image: url(../img/news/bg-news.webp)
.no-webp .news
    background-image: url(../img/news/bg-news.jpg)

.webp .footer
    background-image: url(../img/bg-footer.webp)
.no-webp .footer
    background-image: url(../img/bg-footer.jpg)

button  
    background-color: transparent
    cursor: pointer
    border: none

.container
    max-width: 1170px
    margin: 0 auto

.btn-nice
    display: block
    padding: 12px 27px
    font-size: 2rem
    font-weight: 800
    background-image: linear-gradient(to right, #f9236f 0%, #f92346 100%)
    color: #ffffff



.ratings
    max-width: 95px
    &__star
        width: 15px
        height: 15px
        &_on
        &_off

.price-wrap
    display: flex
    align-items: center
    &__old
        margin-right: 8px
        text-decoration: line-through
        color: #6b6b6b
    &__current
        font-weight: 800
        font-size: 1.8rem
            

.partners
    .partners__image-wrap
        padding: 65px 0 55px
        display: flex
        justify-content: center

@media ( min-width: 1200px )
    .btn-nice
        position: relative
        border: 1px solid transparent
        transition: 0.3s ease
        overflow: hidden
        
        &::before
            display: block
            position: absolute
            top: 0
            left: 0
            content: ''
            width: 100%
            height: 101%
            transform: translateX(-101%)
            background-color: #fff
            transition: 0.3s ease
        &:hover
            color: #f92346
            border-color: #f92346
            &::before
                transform: translateX(0)
        span
            position: relative

    .underline
        position: relative
        &::after
            position: absolute
            bottom: -2px
            left: 0
            content: ''
            width: 100% 
            height: 2px
            background-color: #f92346
            transition: 0.3s ease
            transform: scale(0)
        &:hover
            &::after
                transform: scale(1)
@media ( max-width: 1199px )
    .container
        width: 100%
        padding: 0 20px
    

    