@import _reset.scss
@import _button-sidebar.scss
@import _animate.scss
@import _slick.scss
@import _preloader.scss

@import _common
@import blocks/_header 
@import blocks/_hero
@import blocks/_featured
@import blocks/_news
@import blocks/_sale
@import blocks/_footer

.main
    
    &__body
        position: relative
        z-index: 101
        margin-top: -55px
        // top: -55px
        padding-bottom: 40px
        background-color: #fff
    &__details // блок с иконками
        padding: 0 15px
        margin-bottom: 45px
    &__genders
        padding: 0 30px
        margin-bottom: 105px
    &__featured


.main-details
    display: flex
    justify-content: space-between
    
    &__detail
        flex-basis: 33.333%
        position: relative
        top: -65px

.main-detail

    display: flex
    flex-direction: column
    align-items: center
    animation-name: zoomInUp
    animation-duration: 2s
    // &:nth-child(1)
    //     animation-delay: 0.2s
    &:nth-child(2)
        animation-delay: 0.2s
    &:nth-child(3)
        animation-delay: 0.4s

    &__icon-wrap
        padding: 40px
        border-radius: 50%
        background-color: #fff
    &__icon
        width: 40px
        height: 40px
    &__title
        margin-top: -17px
        margin-bottom: 8px
        font-size: 3rem
        font-weight: 800
        text-align: center
    &__description
        text-align: center

.genders
    display: flex
    justify-content: space-between
    &__gender
        padding: 45px 45px 35px 45px
        flex-basis: 48.3%
    &__female
        background-image: url(../img/genders/female.jpg)
        background-repeat: no-repeat
        background-position: right top
        animation-name: fadeInLeft
        animation-duration: 1s
    &__male
        background-image: url(../img/genders/male.jpg)
        background-repeat: no-repeat
        background-position: right top
        animation-name: fadeInRight
        animation-duration: 1s

.gender
    background-color: #d7eff9
    &__title
        margin-bottom: 13px
        font-weight: 800
        letter-spacing: -0.35rem
        line-height: 4rem
        font-size: 4.8rem
        color: #222222
        
    &__title-accent
        color: #f9236f
        letter-spacing: -0.35rem
    &__description
        margin-bottom: 25px
        line-height: 2.2rem
        +cut-text(2)
        max-width: 230px



@media (max-width: 1199px)
    .main-detail
        animation-name: fadeInUp
        animation-duration: 1s
        &:nth-child(2)
            animation-delay: 0.1s
        &:nth-child(3)
            animation-delay: 0.2s
        &__title
            font-size: 2.2rem
    .genders
        &__female
            animation-name: backInUp
            // animation-duration: 2s
        &__male
            animation-name: backInUp
            // animation-duration: 2s
    .gender
        &__description
            color: #fff
            background-color: #0000000a



@media (max-width: 991px)
    .main
        &__genders
            padding: 0 15px
    .main-details
        flex-wrap: wrap
        &__detail
            top: -45px
    .main-detail
        &__icon-wrap
            padding: 30px

    .genders
        flex-wrap: wrap

@media (max-width: 890px)
    .main
        &__details
            margin-bottom: 30px
    .main-details
        &__detail
            padding: 0 10px
    .main-detail
        &__title
            word-spacing: 999px



@media (max-width: 767px)
    .main
        &__genders
            margin-bottom: 40px
    .main-detail
        &__title
            font-size: 1.8rem

    .genders
        &__gender
            flex-basis: 100%
            margin-bottom: 40px
    .gender
        &__description
            color: #000000
            background-color: transparent


@media (max-width: 575px)
    .main-details
        &__detail
            top: -35px
            padding: 0 
    .main-detail
        &__icon-wrap
            padding: 20px
        &__icon
            width: 30px
            height: 30px
        &__description
            font-size: 1.4rem
    .gender
        &__description
            color: #fff
            background-color: #00000018

@media (max-width: 480px)
    .main-details
        justify-content: center
        &__detail
            flex-basis: 50%
            padding: 0 10px
    .main-detail
        &__description
            font-size: 1.4rem
    
    .genders
        &__gender
            padding: 20px
        &__female, &__male
            background-position: right -70px top
    .gender
        &__title
            font-size: 3.5rem
            line-height: 2.9rem
        &__button
            padding: 5px 10px

@media (max-width: 380px)
    .main-details
        &__detail
            flex-basis: 100%
            margin-bottom: 15px
    .main-detail
        &__title
            word-spacing: normal