.footer
    background-image: url(../img/bg-footer.jpg)
    background-size: cover
    background-repeat: no-repeat
    color: #ffffff
    &__body
    &__contacts

.contacts
    &__address

    &__item
        display: flex
        align-items: center
    &__icon
        margin-right: 10px
        fill: #ffffff
        width: 20px
        height: 20px
.address

    border: 1px solid #000
    &__icon
        // display: flex
        border: 1px solid #000
