.hero
    position: relative
    // background-image: url(../img/bg-hero.png)
    background-size: cover
    background-repeat: no-repeat
    
    background-color: #bae9ff
    &::after
        position: absolute
        // top: 195px
        
        top: calc(100vw - (100vw - 17.5%))
        right: 0
        content: ''
        height: 82.5%
        width: 57%
        // background-image: url(../img/hero-woman.png)
        background-size: contain   
        background-repeat: no-repeat
        background-position: center bottom
    &__body
        position: relative
        z-index: 100
        display: flex
        align-items: center
        padding: 455px 0 260px
        // padding-top: calc(100vw - (100vw - 38%))
        // padding-bottom: 260px
    &__text
        max-width: 600px
        margin-left: 66px
    &__title
        // margin-bottom: -3px
        font-weight: 800
        letter-spacing: -0.95rem
        line-height: 8.7rem
        font-size: 12.1rem
        text-transform: uppercase
        text-align: center
        color: #222222
        animation-name: flipInX
        animation-duration: 2s
    &__title-accent
        color: #f9236f
        letter-spacing: -0.95rem

    &__year
        display: flex
        justify-content: space-between
        max-width: 400px
        margin: 0 auto
        margin-top: -4px
        margin-bottom: 15px
        color: #222222
        font-size: 5rem 
        letter-spacing: 9.3rem
        padding-left: 5px
        font-weight: 800
    &__description
        margin-bottom: 50px
        color: #494949
        line-height: 24px
        text-align: center
    &__button
        margin: 0 auto

@media (min-width: 1200px)
    .hero
        // background-attachment: fixed
        &::after
            // background-attachment: fixed

@media (max-width: 1400px)
    .hero
        &::after
            height: 78.5%
            top: calc(100vw - (100vw - 21.5%))
            background-position: right bottom
        &__body
            padding: 350px 0 150px

@media (max-width: 1199px)
    .hero
        &::after
            // background-position: right top
        &__body
            padding: 250px 0 150px
        &__title
            font-size: 9rem
            line-height: 7rem
        &__year
            padding-left: 50px
            font-size: 4rem
            letter-spacing: 7.3rem
@media (max-width: 991px)
    .hero
        &::after
            width: 50%
            background-size: cover
            background-position: left bottom
        &__body
            padding: 200px 0 150px
        &__text 
            display: flex
            flex-direction: column
            max-width: 450px
            margin-left: 0
        &__title
            font-size: 8rem
            line-height: 6.7rem
            letter-spacing: -0.5rem
        &__title-accent
            letter-spacing: -0.5rem
        &__year
            padding-left: 60
            font-size: 3rem
            letter-spacing: 5.3rem


@media (max-width: 767px)
    .hero
        &::after    
            // background-size: contain
            // background-position: right -120px top
        &__body
            padding: 150px 0 150px
        &__text 
            max-width: 450px
            margin-left: 0
        &__title
            font-size: 6rem
            line-height: 4.5rem
            letter-spacing: -0.5rem
        &__title-accent
            letter-spacing: -0.5rem
        &__year
            margin-top: 5px
            padding-left: 60
            font-size: 3rem
            letter-spacing: 4.3rem
        &__description
            margin-bottom: 20px



@media (max-width: 575px)
    .hero
        &::after    
            // background-position: center bottom
        &__text
            max-width: 320px
        &__title
            font-size: 4.5rem
            line-height: 3.5rem
        &__year
            padding: 0
            letter-spacing: 10px
            font-size: 2rem
            max-width: 150px
        &__description
            font-size: 1.4rem


@media (max-width: 480px)
    .hero   
        // background-attachment: static
        &::after
            display: none
        &__text
            width: 100%
            max-width: none
