.sale
    &__body
        display: flex
    &__banner
        flex-basis: 310px
        padding: 25px 30px

.banner
    display: flex
    flex-direction: column
    background-color: #f9234a
    &__title-wrap
        padding: 55px 25px
        border: 6px solid #fff
        font-family: BebasNeue
        color: #ffffff
    &__title
        font-size: 6.8rem
        line-height: 5.5rem
        // word-spacing: 999px
        text-align: center
    &__title-accent
        font-size: 12.8rem
        line-height: 9.5rem