<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title MeStore
        link(rel="stylesheet", href="css/main.css")
    body
        //- pug -w . -o ./ -P
        .shipping
            .container
                .shipping__body
                    p.shipping__text Free International Shipping with $75 Purchase 
                    button.shipping__close X
        
        header.header
            .container
                .header__body
                    .header__top
                        p(class="header__greeting wow") Добро пожаловать в MeShop
                        .header__email-block
                            span Email: 
                            a.header__email(href="mailto:free@psdfreebies.com") free@psdfreebies.com
                            

                    .header__main
                        a.header__logo(href="" class="wow animate__animated") MeStore
                        nav.header__nav.header-nav
                            ul.header-nav__list
                                li(class="header-nav__item") 
                                    a.header-nav__link(href="") Главная
                                li(class="header-nav__item") 
                                    a.header-nav__link(href="") Магазин
                                li(class="header-nav__item") 
                                    a.header-nav__link(href="") Товары
                                li(class="header-nav__item") 
                                    a.header-nav__link(href="") Блог
                                li(class="header-nav__item") 
                                    a.header-nav__link(href="") Портфолио

                        input(type="checkbox" id="checkbox2" class="checkbox2 visuallyHidden")
                        label(for="checkbox2" class="header__toggle-sidebar")
                            .hamburger.hamburger2
                                span.bar.bar1
                                span.bar.bar2
                                span.bar.bar3
                                span.bar.bar4        

                        button.header__search.header-search                            
                            svg.header-search__icon.header__icon
                                use(xlink:href="img/icons/icons.svg#search")
                        a.header__cart.header-cart(href="")
                            svg.header-cart__icon.header__icon
                                use(xlink:href="img/icons/icons.svg#cart")

        section.hero
            .container
                .hero__body
                    .hero__text
                        h1.hero__title 
                            |Fashion 
                            br
                            span.hero__title-accent Carnival
                        p.hero__year 2022
                            
                        p.hero__description Lorem Ipsum. Proin gravida nibh velit it’s a cold world out there.This is Photoshop's version of Lorem Ipsum. Proin gravida nibh velit it’s a cold world out there.
                        button.hero__button.btn-shop Shop Now

        main.main
            .container
                .main__body
                    .main__details.main-details
                        .main-details__detail.main-detail
                            .main-detail__icon-wrap
                                svg.main-detail__icon
                                    use(xlink:href="img/icons/icons.svg#airplane")
                            h4.main-detail__title Бесплатная доставка
                            p.main-detail__description При заказе от 50 евро
                        
                        .main-details__detail.main-detail
                            .main-detail__icon-wrap
                                svg.main-detail__icon
                                    use(xlink:href="img/icons/icons.svg#support")
                            h4.main-detail__title Поддержка 24/7
                            p.main-detail__description Звоните нам в любое время


                        .main-details__detail.main-detail
                            .main-detail__icon-wrap
                                svg.main-detail__icon
                                    use(xlink:href="img/icons/icons.svg#calendar")
                            h4.main-detail__title Бесплатный возврат
                            p.main-detail__description 100% возврат в течение 3 дней

                    .main__genders.genders
                        .genders__gender.genders__female.gender
                            h3.gender__title 
                                |Fashion
                                br 
                                span.gender__title-accent Carnival
                            p.gender__description Lorem Ipsum. Proin gravida nibh velit it’s a cold world out there.This is Photoshop's version of Lorem Ipsum. Proin gravida nibh velit it’s a cold world out there.
                            button.gender__button.btn-shop Shop Now
                        
                        
                        .genders__gender.genders__male.gender
                            h3.gender__title 
                                |Fashion
                                br 
                                span.gender__title-accent Carnival
                            p.gender__description Lorem Ipsum. Proin gravida nibh velit it’s a cold world out there.This is Photoshop's version of Lorem Ipsum. Proin gravida nibh velit it’s a cold world out there.
                            button.gender__button.btn-shop Shop Now

                    section.main__featured.featured
                        h3.featured__title FEATURED PRODUCTS
                        p.featured__subtitle Praesent mauris. Fusce nec tellus sed augue semper porta.
                        .featured__slider.featured-slider
                            .featured-slider__slide.featured-slide
                                .featured-slide__image-wrap
                                    a.featured-slide__link(href="")
                                        img.featured-slide__image(src="img/featured-slider/orange-t-shirt.jpg" alt="orange-t-shirt")
                                p.featured-slide__title 
                                    a.featured-slide__link(href="") Orange T-shirt
                                p.featured-slide__brand Nike
                                .featured-slide__ratings.ratings
                                    svg.ratings__star.ratings__star_on
                                        use(xlink:href="img/icons/icons.svg#star-on")
                                    svg.ratings__star.ratings__star_on
                                        use(xlink:href="img/icons/icons.svg#star-on")
                                    svg.ratings__star.ratings__star_on
                                        use(xlink:href="img/icons/icons.svg#star-on")
                                    svg.ratings__star.ratings__star_on
                                        use(xlink:href="img/icons/icons.svg#star-on")
                                    svg.ratings__star.ratings__star_off
                                        use(xlink:href="img/icons/icons.svg#star-off")
                                .featured-slide__price-wrap.price-wrap
                                    .price-wrap__old $74.00  
                                    .price-wrap__current $69.00

                            .featured-slider__slide.featured-slide
                                .featured-slide__image-wrap
                                    a.featured-slide__link(href="")
                                        img.featured-slide__image(src="img/featured-slider/green-jumper.jpg" alt="green-jumper")
                                p.featured-slide__title 
                                    a.featured-slide__link(href="") Green Jumper
                                p.featured-slide__brand Tommy Hilfiger
                                .featured-slide__ratings.ratings
                                    svg.ratings__star.ratings__star_on
                                        use(xlink:href="img/icons/icons.svg#star-on")
                                    svg.ratings__star.ratings__star_on
                                        use(xlink:href="img/icons/icons.svg#star-on")
                                    svg.ratings__star.ratings__star_on
                                        use(xlink:href="img/icons/icons.svg#star-on")
                                    svg.ratings__star.ratings__star_on
                                        use(xlink:href="img/icons/icons.svg#star-on")
                                    svg.ratings__star.ratings__star_off
                                        use(xlink:href="img/icons/icons.svg#star-on")
                                .featured-slide__price-wrap.price-wrap
                                    .price-wrap__old $105.00  
                                    .price-wrap__current $80.00
                                    
                            .featured-slider__slide.featured-slide
                                .featured-slide__image-wrap
                                    a.featured-slide__link(href="")
                                        img.featured-slide__image(src="img/featured-slider/striped-pants.jpg" alt="striped-pants")
                                p.featured-slide__title 
                                    a.featured-slide__link(href="") Striped Pants
                                p.featured-slide__brand Gucci
                                .featured-slide__ratings.ratings
                                    svg.ratings__star.ratings__star_on
                                        use(xlink:href="img/icons/icons.svg#star-on")
                                    svg.ratings__star.ratings__star_on
                                        use(xlink:href="img/icons/icons.svg#star-on")
                                    svg.ratings__star.ratings__star_on
                                        use(xlink:href="img/icons/icons.svg#star-on")
                                    svg.ratings__star.ratings__star_on
                                        use(xlink:href="img/icons/icons.svg#star-on")
                                    svg.ratings__star.ratings__star_off
                                        use(xlink:href="img/icons/icons.svg#star-off")
                                .featured-slide__price-wrap.price-wrap
                                    .price-wrap__old $81.00  
                                    .price-wrap__current $55.00

                            .featured-slider__slide.featured-slide
                                .featured-slide__image-wrap
                                    a.featured-slide__link(href="")
                                        img.featured-slide__image(src="img/featured-slider/white-dress.jpg" alt="white-dress")
                                p.featured-slide__title 
                                    a.featured-slide__link(href="") White Dress
                                p.featured-slide__brand ZaRa
                                .featured-slide__ratings.ratings
                                    svg.ratings__star.ratings__star_on
                                        use(xlink:href="img/icons/icons.svg#star-on")
                                    svg.ratings__star.ratings__star_on
                                        use(xlink:href="img/icons/icons.svg#star-on")
                                    svg.ratings__star.ratings__star_on
                                        use(xlink:href="img/icons/icons.svg#star-on")
                                    svg.ratings__star.ratings__star_on
                                        use(xlink:href="img/icons/icons.svg#star-on")
                                    svg.ratings__star.ratings__star_off
                                        use(xlink:href="img/icons/icons.svg#star-off")
                                .featured-slide__price-wrap.price-wrap
                                    .price-wrap__old $134.00  
                                    .price-wrap__current $99.00

                            .featured-slider__slide.featured-slide
                                .featured-slide__image-wrap
                                    a.featured-slide__link(href="")
                                        img.featured-slide__image(src="img/featured-slider/orange-t-shirt.jpg" alt="orange-t-shirt")
                                p.featured-slide__title 
                                    a.featured-slide__link(href="") Orange T-shirt
                                p.featured-slide__brand Nike
                                .featured-slide__ratings.ratings
                                    svg.ratings__star.ratings__star_on
                                        use(xlink:href="img/icons/icons.svg#star-on")
                                    svg.ratings__star.ratings__star_on
                                        use(xlink:href="img/icons/icons.svg#star-on")
                                    svg.ratings__star.ratings__star_on
                                        use(xlink:href="img/icons/icons.svg#star-on")
                                    svg.ratings__star.ratings__star_on
                                        use(xlink:href="img/icons/icons.svg#star-on")
                                    svg.ratings__star.ratings__star_off
                                        use(xlink:href="img/icons/icons.svg#star-off")
                                .featured-slide__price-wrap.price-wrap
                                    .price-wrap__old $74.00  
                                    .price-wrap__current $69.00

                            .featured-slider__slide.featured-slide
                                .featured-slide__image-wrap
                                    a.featured-slide__link(href="")
                                        img.featured-slide__image(src="img/featured-slider/green-jumper.jpg" alt="green-jumper")
                                p.featured-slide__title 
                                    a.featured-slide__link(href="") Green Jumper
                                p.featured-slide__brand Tommy Hilfiger
                                .featured-slide__ratings.ratings
                                    svg.ratings__star.ratings__star_on
                                        use(xlink:href="img/icons/icons.svg#star-on")
                                    svg.ratings__star.ratings__star_on
                                        use(xlink:href="img/icons/icons.svg#star-on")
                                    svg.ratings__star.ratings__star_on
                                        use(xlink:href="img/icons/icons.svg#star-on")
                                    svg.ratings__star.ratings__star_on
                                        use(xlink:href="img/icons/icons.svg#star-on")
                                    svg.ratings__star.ratings__star_off
                                        use(xlink:href="img/icons/icons.svg#star-on")
                                .featured-slide__price-wrap.price-wrap
                                    .price-wrap__old $105.00  
                                    .price-wrap__current $80.00
                            
                        .slider-arrows
                            .slider-arrows__prev.slider-arrows__arrow 
                                span
                            .slider-arrows__next.slider-arrows__arrow 
                                span
        script(src="js/jquery-3.5.1.min.js")
        script(src="js/wow.min.js")
        script(src="js/slick.min.js")
        script
            | new WOW().init();
            
        script(src="js/main.js")