<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title MeStore
        link(rel="stylesheet", href="css/main.css")
    body
        //- pug -w . -o ./ -P
        .shipping
            .container
                .shipping__body
                    p.shipping__text Free International Shipping with $75 Purchase 
                    button.shipping__close X
        
        header.header
            .container
                .header__body
                    .header__top
                        p(class="header__greeting wow") Добро пожаловать в MeShop
                        .header__email-block
                            span Email: 
                            a.header__email(href="mailto:free@psdfreebies.com") free@psdfreebies.com
                            

                    .header__main
                        a.header__logo(href="" class="wow animate__animated") MeStore
                        nav.header__nav.header-nav
                            ul.header-nav__list
                                li(class="header-nav__item") 
                                    a.header-nav__link(href="") Главная
                                li(class="header-nav__item") 
                                    a.header-nav__link(href="") Магазин
                                li(class="header-nav__item") 
                                    a.header-nav__link(href="") Товары
                                li(class="header-nav__item") 
                                    a.header-nav__link(href="") Блог
                                li(class="header-nav__item") 
                                    a.header-nav__link(href="") Портфолио

                        input(type="checkbox" id="checkbox2" class="checkbox2 visuallyHidden")
                        label(for="checkbox2" class="header__toggle-sidebar")
                            .hamburger.hamburger2
                                span.bar.bar1
                                span.bar.bar2
                                span.bar.bar3
                                span.bar.bar4        

                        button.header__search.header-search                            
                            svg.header-search__icon.header__icon
                                use(xlink:href="img/icons/icons.svg#search")
                        a.header__cart.header-cart(href="")
                            svg.header-cart__icon.header__icon
                                use(xlink:href="img/icons/icons.svg#cart")

        section.hero
            .container
                .hero__body
                    .hero__text
                        h1.hero__title.wow.animate__animated
                            |Fashion 
                            br
                            span.hero__title-accent Carnival
                        p.hero__year 2022
                            
                        p.hero__description Lorem Ipsum. Proin gravida nibh velit it’s a cold world out there.This is Photoshop's version of Lorem Ipsum. Proin gravida nibh velit it’s a cold world out there.
                        button.hero__button.btn-nice 
                            span Shop Now

        main.main
            .container
                .main__body
                    .main__details.main-details
                        .main-details__detail.main-detail.wow.animate__animated(data-wow-offset="100")
                            .main-detail__icon-wrap
                                svg.main-detail__icon
                                    use(xlink:href="img/icons/icons.svg#airplane")
                            h4.main-detail__title Бесплатная доставка
                            p.main-detail__description При заказе от 50 евро
                        
                        .main-details__detail.main-detail.wow.animate__animated(data-wow-offset="100")
                            .main-detail__icon-wrap
                                svg.main-detail__icon
                                    use(xlink:href="img/icons/icons.svg#support")
                            h4.main-detail__title Поддержка 24/7
                            p.main-detail__description Звоните нам в любое время

                        .main-details__detail.main-detail.wow.animate__animated(data-wow-offset="100")
                            .main-detail__icon-wrap
                                svg.main-detail__icon
                                    use(xlink:href="img/icons/icons.svg#calendar")
                            h4.main-detail__title Бесплатный возврат
                            p.main-detail__description 100% возврат в течение 3 дней

                    .main__genders.genders
                        .genders__gender.genders__female.gender.wow.animate__animated(data-wow-offset="100")
                            h3.gender__title 
                                |Fashion
                                br 
                                span.gender__title-accent Carnival
                            p.gender__description Lorem Ipsum. Proin gravida nibh velit it’s a cold world out there.This is Photoshop's version of Lorem Ipsum. Proin gravida nibh velit it’s a cold world out there.
                            button.gender__button.btn-nice 
                                span Shop Now
                        
                        
                        .genders__gender.genders__male.gender.wow.animate__animated(data-wow-offset="100")
                            h3.gender__title 
                                |Fashion
                                br 
                                span.gender__title-accent Carnival
                            p.gender__description Lorem Ipsum. Proin gravida nibh velit it’s a cold world out there.This is Photoshop's version of Lorem Ipsum. Proin gravida nibh velit it’s a cold world out there.
                            button.gender__button.btn-nice 
                                span Shop Now

                    section.main__featured.featured
                        h2.featured__title FEATURED PRODUCTS
                        p.featured__subtitle Praesent mauris. Fusce nec tellus sed augue semper porta.
                        .featured__slider.featured-slider
                            .featured-slider__slide.featured-slide.wow.animate__animated(data-wow-offset="100")
                                .featured-slide__image-wrap
                                    a.featured-slide__link(href="")
                                        img.featured-slide__image(src="img/featured-slider/orange-t-shirt.jpg" alt="orange-t-shirt")
                                p.featured-slide__title 
                                    a.featured-slide__link.underline(href="") Orange T-shirt
                                p.featured-slide__brand Nike
                                .featured-slide__ratings.ratings
                                    svg.ratings__star.ratings__star_on
                                        use(xlink:href="img/icons/icons.svg#star-on")
                                    svg.ratings__star.ratings__star_on
                                        use(xlink:href="img/icons/icons.svg#star-on")
                                    svg.ratings__star.ratings__star_on
                                        use(xlink:href="img/icons/icons.svg#star-on")
                                    svg.ratings__star.ratings__star_on
                                        use(xlink:href="img/icons/icons.svg#star-on")
                                    svg.ratings__star.ratings__star_off
                                        use(xlink:href="img/icons/icons.svg#star-off")
                                .featured-slide__price-wrap.price-wrap
                                    .price-wrap__old $74.00  
                                    .price-wrap__current $69.00

                            .featured-slider__slide.featured-slide.wow.animate__animated(data-wow-offset="100")
                                .featured-slide__image-wrap
                                    a.featured-slide__link(href="")
                                        img.featured-slide__image(src="img/featured-slider/green-jumper.jpg" alt="green-jumper")
                                p.featured-slide__title 
                                    a.featured-slide__link.underline(href="") Green Jumper
                                p.featured-slide__brand Tommy Hilfiger
                                .featured-slide__ratings.ratings
                                    svg.ratings__star.ratings__star_on
                                        use(xlink:href="img/icons/icons.svg#star-on")
                                    svg.ratings__star.ratings__star_on
                                        use(xlink:href="img/icons/icons.svg#star-on")
                                    svg.ratings__star.ratings__star_on
                                        use(xlink:href="img/icons/icons.svg#star-on")
                                    svg.ratings__star.ratings__star_on
                                        use(xlink:href="img/icons/icons.svg#star-on")
                                    svg.ratings__star.ratings__star_off
                                        use(xlink:href="img/icons/icons.svg#star-on")
                                .featured-slide__price-wrap.price-wrap
                                    .price-wrap__old $105.00  
                                    .price-wrap__current $80.00
                                    
                            .featured-slider__slide.featured-slide.wow.animate__animated(data-wow-offset="100")
                                .featured-slide__image-wrap
                                    a.featured-slide__link(href="")
                                        img.featured-slide__image(src="img/featured-slider/striped-pants.jpg" alt="striped-pants")
                                p.featured-slide__title 
                                    a.featured-slide__link.underline(href="") Striped Pants
                                p.featured-slide__brand Gucci
                                .featured-slide__ratings.ratings
                                    svg.ratings__star.ratings__star_on
                                        use(xlink:href="img/icons/icons.svg#star-on")
                                    svg.ratings__star.ratings__star_on
                                        use(xlink:href="img/icons/icons.svg#star-on")
                                    svg.ratings__star.ratings__star_on
                                        use(xlink:href="img/icons/icons.svg#star-on")
                                    svg.ratings__star.ratings__star_on
                                        use(xlink:href="img/icons/icons.svg#star-on")
                                    svg.ratings__star.ratings__star_off
                                        use(xlink:href="img/icons/icons.svg#star-off")
                                .featured-slide__price-wrap.price-wrap
                                    .price-wrap__old $81.00  
                                    .price-wrap__current $55.00

                            .featured-slider__slide.featured-slide.wow.animate__animated(data-wow-offset="100")
                                .featured-slide__image-wrap
                                    a.featured-slide__link(href="")
                                        img.featured-slide__image(src="img/featured-slider/white-dress.jpg" alt="white-dress")
                                p.featured-slide__title 
                                    a.featured-slide__link.underline(href="") White Dress
                                p.featured-slide__brand ZaRa
                                .featured-slide__ratings.ratings
                                    svg.ratings__star.ratings__star_on
                                        use(xlink:href="img/icons/icons.svg#star-on")
                                    svg.ratings__star.ratings__star_on
                                        use(xlink:href="img/icons/icons.svg#star-on")
                                    svg.ratings__star.ratings__star_on
                                        use(xlink:href="img/icons/icons.svg#star-on")
                                    svg.ratings__star.ratings__star_on
                                        use(xlink:href="img/icons/icons.svg#star-on")
                                    svg.ratings__star.ratings__star_off
                                        use(xlink:href="img/icons/icons.svg#star-off")
                                .featured-slide__price-wrap.price-wrap
                                    .price-wrap__old $134.00  
                                    .price-wrap__current $99.00

                            .featured-slider__slide.featured-slide
                                .featured-slide__image-wrap
                                    a.featured-slide__link(href="")
                                        img.featured-slide__image(src="img/featured-slider/orange-t-shirt.jpg" alt="orange-t-shirt")
                                p.featured-slide__title 
                                    a.featured-slide__link.underline(href="") Orange T-shirt
                                p.featured-slide__brand Nike
                                .featured-slide__ratings.ratings
                                    svg.ratings__star.ratings__star_on
                                        use(xlink:href="img/icons/icons.svg#star-on")
                                    svg.ratings__star.ratings__star_on
                                        use(xlink:href="img/icons/icons.svg#star-on")
                                    svg.ratings__star.ratings__star_on
                                        use(xlink:href="img/icons/icons.svg#star-on")
                                    svg.ratings__star.ratings__star_on
                                        use(xlink:href="img/icons/icons.svg#star-on")
                                    svg.ratings__star.ratings__star_off
                                        use(xlink:href="img/icons/icons.svg#star-off")
                                .featured-slide__price-wrap.price-wrap
                                    .price-wrap__old $74.00  
                                    .price-wrap__current $69.00

                            .featured-slider__slide.featured-slide
                                .featured-slide__image-wrap
                                    a.featured-slide__link(href="")
                                        img.featured-slide__image(src="img/featured-slider/green-jumper.jpg" alt="green-jumper")
                                p.featured-slide__title 
                                    a.featured-slide__link.underline(href="") Green Jumper
                                p.featured-slide__brand Tommy Hilfiger
                                .featured-slide__ratings.ratings
                                    svg.ratings__star.ratings__star_on
                                        use(xlink:href="img/icons/icons.svg#star-on")
                                    svg.ratings__star.ratings__star_on
                                        use(xlink:href="img/icons/icons.svg#star-on")
                                    svg.ratings__star.ratings__star_on
                                        use(xlink:href="img/icons/icons.svg#star-on")
                                    svg.ratings__star.ratings__star_on
                                        use(xlink:href="img/icons/icons.svg#star-on")
                                    svg.ratings__star.ratings__star_off
                                        use(xlink:href="img/icons/icons.svg#star-on")
                                .featured-slide__price-wrap.price-wrap
                                    .price-wrap__old $105.00  
                                    .price-wrap__current $80.00
                            
                        .slider-arrows
                            .slider-arrows__prev.slider-arrows__arrow 
                                span
                            .slider-arrows__next.slider-arrows__arrow 
                                span
        
        section.news
            .container
                .news__body
                    h2.news__title Latest News
                    p.news__subtitle Praesent mauris. Fusce nec tellus sed augue semper porta
                    .news__items
                        .news__item.news-item.wow.animate__animated(data-wow-offset="100")
                            .news-item__image-wrap
                                a.news-item__link(href="")
                                    img.news-item__image(src="img/news/news-1.jpg" alt="news-1")
                            .news-item__text
                                a.news-item__title.news-item__link.underline(href="") Porem ipsum dolor sit ame
                                p.news-item__subtitle Lorem Ipsum. Proin gravida nibh
                                p.news-item__description Lorem Ipsum. Proin gravida nibh velit it’s a cold world out there.This is Photoshop's version of Lorem Ipsum.
                                .news-item__footer
                                    button.news-item__button.btn-nice 
                                        span Read More
                                    .news-item__actions
                                        a.news-item__icon-wrap.news-item__link(href="")
                                            svg.news-item__icon
                                                use(xlink:href="img/icons/icons.svg#heart")
                                        a.news-item__icon-wrap.news-item__link(href="")
                                            svg.news-item__icon
                                                use(xlink:href="img/icons/icons.svg#comment")

                        .news__item.news-item.wow.animate__animated(data-wow-offset="100")
                            .news-item__image-wrap
                                a.news-item__link(href="")
                                    img.news-item__image(src="img/news/news-2.jpg" alt="news-2")
                            .news-item__text
                                a.news-item__title.news-item__link.underline(href="") Porem ipsum dolor sit ame
                                p.news-item__subtitle Lorem Ipsum. Proin gravida nibh
                                p.news-item__description Lorem Ipsum. Proin gravida nibh velit it’s a cold world out there.This is Photoshop's version of Lorem Ipsum.
                                .news-item__footer
                                    button.news-item__button.btn-nice 
                                        span Read More
                                    .news-item__actions
                                        a.news-item__icon-wrap.news-item__link(href="")
                                            svg.news-item__icon
                                                use(xlink:href="img/icons/icons.svg#heart")
                                        a.news-item__icon-wrap.news-item__link(href="")
                                            svg.news-item__icon
                                                use(xlink:href="img/icons/icons.svg#comment")
        
                        .news__item.news-item.wow.animate__animated(data-wow-offset="100")
                            .news-item__image-wrap
                                a.news-item__link(href="")
                                    img.news-item__image(src="img/news/news-3.jpg" alt="news-3")
                            .news-item__text
                                a.news-item__title.news-item__link.underline(href="") Porem ipsum dolor sit ame
                                p.news-item__subtitle Lorem Ipsum. Proin gravida nibh
                                p.news-item__description Lorem Ipsum. Proin gravida nibh velit it’s a cold world out there.This is Photoshop's version of Lorem Ipsum.
                                .news-item__footer
                                    button.news-item__button.btn-nice 
                                        span Read More
                                    .news-item__actions
                                        a.news-item__icon-wrap.news-item__link(href="")
                                            svg.news-item__icon
                                                use(xlink:href="img/icons/icons.svg#heart")
                                        a.news-item__icon-wrap.news-item__link(href="")
                                            svg.news-item__icon
                                                use(xlink:href="img/icons/icons.svg#comment")

        section.sale
            .container
                .sale__body
                    .sale__brands.sale__brands_left
                        h4.sale__brands-title Our Brands

                        .sale__brand.sale-brand.wow.animate__animated
                            .sale-brand__image-wrap
                                a.sale-brand__link(href="")
                                    img.sale-brand__image(src="img/sale-brands/brand-1.jpg" alt="brand-1")
                            .sale-brand__text
                                a.sale-brand__title.underline.underline.sale-brand__link(href="") Gray Jacket
                                .sale-brand__brand-name Tommy Hilfiger
                                .sale-brand__ratings.ratings
                                    svg.ratings__star.ratings__star_on
                                        use(xlink:href="img/icons/icons.svg#star-on")
                                    svg.ratings__star.ratings__star_on
                                        use(xlink:href="img/icons/icons.svg#star-on")
                                    svg.ratings__star.ratings__star_on
                                        use(xlink:href="img/icons/icons.svg#star-on")
                                    svg.ratings__star.ratings__star_on
                                        use(xlink:href="img/icons/icons.svg#star-on")
                                    svg.ratings__star.ratings__star_off
                                        use(xlink:href="img/icons/icons.svg#star-off")
                                .sale-brand__price-wrap.price-wrap
                                    .price-wrap__old $74.00  
                                    .price-wrap__current $69.00

                        .sale__brand.sale-brand.wow.animate__animated
                            .sale-brand__image-wrap
                                a.sale-brand__link(href="")
                                    img.sale-brand__image(src="img/sale-brands/brand-2.jpg" alt="brand-2")
                            .sale-brand__text
                                a.sale-brand__title.underline.underline.sale-brand__link(href="") Gray Jacket
                                .sale-brand__brand-name Tommy Hilfiger
                                .sale-brand__ratings.ratings
                                    svg.ratings__star.ratings__star_on
                                        use(xlink:href="img/icons/icons.svg#star-on")
                                    svg.ratings__star.ratings__star_on
                                        use(xlink:href="img/icons/icons.svg#star-on")
                                    svg.ratings__star.ratings__star_on
                                        use(xlink:href="img/icons/icons.svg#star-on")
                                    svg.ratings__star.ratings__star_on
                                        use(xlink:href="img/icons/icons.svg#star-on")
                                    svg.ratings__star.ratings__star_off
                                        use(xlink:href="img/icons/icons.svg#star-off")
                                .sale-brand__price-wrap.price-wrap
                                    .price-wrap__old $74.00  
                                    .price-wrap__current $69.00

                        .sale__brand.sale-brand.wow.animate__animated
                            .sale-brand__image-wrap
                                a.sale-brand__link(href="")
                                    img.sale-brand__image(src="img/sale-brands/brand-3.jpg" alt="brand-3")
                            .sale-brand__text
                                a.sale-brand__title.underline.sale-brand__link(href="") Gray Jacket
                                .sale-brand__brand-name Tommy Hilfiger
                                .sale-brand__ratings.ratings
                                    svg.ratings__star.ratings__star_on
                                        use(xlink:href="img/icons/icons.svg#star-on")
                                    svg.ratings__star.ratings__star_on
                                        use(xlink:href="img/icons/icons.svg#star-on")
                                    svg.ratings__star.ratings__star_on
                                        use(xlink:href="img/icons/icons.svg#star-on")
                                    svg.ratings__star.ratings__star_on
                                        use(xlink:href="img/icons/icons.svg#star-on")
                                    svg.ratings__star.ratings__star_off
                                        use(xlink:href="img/icons/icons.svg#star-off")
                                .sale-brand__price-wrap.price-wrap
                                    .price-wrap__old $74.00  
                                    .price-wrap__current $69.00

                        .sale__brand.sale-brand.wow.animate__animated
                            .sale-brand__image-wrap
                                a.sale-brand__link(href="")
                                    img.sale-brand__image(src="img/sale-brands/brand-4.jpg" alt="brand-4")
                            .sale-brand__text
                                a.sale-brand__title.underline.sale-brand__link(href="") Gray Jacket
                                .sale-brand__brand-name Tommy Hilfiger
                                .sale-brand__ratings.ratings
                                    svg.ratings__star.ratings__star_on
                                        use(xlink:href="img/icons/icons.svg#star-on")
                                    svg.ratings__star.ratings__star_on
                                        use(xlink:href="img/icons/icons.svg#star-on")
                                    svg.ratings__star.ratings__star_on
                                        use(xlink:href="img/icons/icons.svg#star-on")
                                    svg.ratings__star.ratings__star_on
                                        use(xlink:href="img/icons/icons.svg#star-on")
                                    svg.ratings__star.ratings__star_off
                                        use(xlink:href="img/icons/icons.svg#star-off")
                                .sale-brand__price-wrap.price-wrap
                                    .price-wrap__old $74.00  
                                    .price-wrap__current $69.00

                    .sale__banner.banner.wow.animate__animated(data-wow-offset="100")
                        .banner__title-wrap
                            h2.banner__title 
                                |Summer 
                                span.banner__title-accent Sale 
                                |Discount 
                                span.banner__title-accent upto
                            p.span.banner__title-accent 80%
                    
                    .sale__brands.sale__brands_right
                        h4.sale__brands-title Our Brands

                        .sale__brand.sale-brand.wow.animate__animated
                            .sale-brand__image-wrap
                                a.sale-brand__link(href="")
                                    img.sale-brand__image(src="img/sale-brands/brand-1.jpg" alt="brand-1")
                            .sale-brand__text
                                a.sale-brand__title.underline.sale-brand__link(href="") Gray Jacket
                                .sale-brand__brand-name Tommy Hilfiger
                                .sale-brand__ratings.ratings
                                    svg.ratings__star.ratings__star_on
                                        use(xlink:href="img/icons/icons.svg#star-on")
                                    svg.ratings__star.ratings__star_on
                                        use(xlink:href="img/icons/icons.svg#star-on")
                                    svg.ratings__star.ratings__star_on
                                        use(xlink:href="img/icons/icons.svg#star-on")
                                    svg.ratings__star.ratings__star_on
                                        use(xlink:href="img/icons/icons.svg#star-on")
                                    svg.ratings__star.ratings__star_off
                                        use(xlink:href="img/icons/icons.svg#star-off")
                                .sale-brand__price-wrap.price-wrap
                                    .price-wrap__old $74.00  
                                    .price-wrap__current $69.00

                        .sale__brand.sale-brand.wow.animate__animated
                            .sale-brand__image-wrap
                                a.sale-brand__link(href="")
                                    img.sale-brand__image(src="img/sale-brands/brand-2.jpg" alt="brand-2")
                            .sale-brand__text
                                a.sale-brand__title.underline.sale-brand__link(href="") Gray Jacket
                                .sale-brand__brand-name Tommy Hilfiger
                                .sale-brand__ratings.ratings
                                    svg.ratings__star.ratings__star_on
                                        use(xlink:href="img/icons/icons.svg#star-on")
                                    svg.ratings__star.ratings__star_on
                                        use(xlink:href="img/icons/icons.svg#star-on")
                                    svg.ratings__star.ratings__star_on
                                        use(xlink:href="img/icons/icons.svg#star-on")
                                    svg.ratings__star.ratings__star_on
                                        use(xlink:href="img/icons/icons.svg#star-on")
                                    svg.ratings__star.ratings__star_off
                                        use(xlink:href="img/icons/icons.svg#star-off")
                                .sale-brand__price-wrap.price-wrap
                                    .price-wrap__old $74.00  
                                    .price-wrap__current $69.00

                        .sale__brand.sale-brand.wow.animate__animated
                            .sale-brand__image-wrap
                                a.sale-brand__link(href="")
                                    img.sale-brand__image(src="img/sale-brands/brand-3.jpg" alt="brand-3")
                            .sale-brand__text
                                a.sale-brand__title.underline.sale-brand__link(href="") Gray Jacket
                                .sale-brand__brand-name Tommy Hilfiger
                                .sale-brand__ratings.ratings
                                    svg.ratings__star.ratings__star_on
                                        use(xlink:href="img/icons/icons.svg#star-on")
                                    svg.ratings__star.ratings__star_on
                                        use(xlink:href="img/icons/icons.svg#star-on")
                                    svg.ratings__star.ratings__star_on
                                        use(xlink:href="img/icons/icons.svg#star-on")
                                    svg.ratings__star.ratings__star_on
                                        use(xlink:href="img/icons/icons.svg#star-on")
                                    svg.ratings__star.ratings__star_off
                                        use(xlink:href="img/icons/icons.svg#star-off")
                                .sale-brand__price-wrap.price-wrap
                                    .price-wrap__old $74.00  
                                    .price-wrap__current $69.00

                        .sale__brand.sale-brand.wow.animate__animated
                            .sale-brand__image-wrap
                                a.sale-brand__link(href="")
                                    img.sale-brand__image(src="img/sale-brands/brand-4.jpg" alt="brand-4")
                            .sale-brand__text
                                a.sale-brand__title.underline.sale-brand__link(href="") Gray Jacket
                                .sale-brand__brand-name Tommy Hilfiger
                                .sale-brand__ratings.ratings
                                    svg.ratings__star.ratings__star_on
                                        use(xlink:href="img/icons/icons.svg#star-on")
                                    svg.ratings__star.ratings__star_on
                                        use(xlink:href="img/icons/icons.svg#star-on")
                                    svg.ratings__star.ratings__star_on
                                        use(xlink:href="img/icons/icons.svg#star-on")
                                    svg.ratings__star.ratings__star_on
                                        use(xlink:href="img/icons/icons.svg#star-on")
                                    svg.ratings__star.ratings__star_off
                                        use(xlink:href="img/icons/icons.svg#star-off")
                                .sale-brand__price-wrap.price-wrap
                                    .price-wrap__old $74.00  
                                    .price-wrap__current $69.00

                section.sale__search.search
                    h2.search__title  Never miss any fashion trending
                    p.search__subtitle Praesent mauris. Fusce nec tellus sed augue semper porta
                    form.search__form(action="#")
                        input.search__input(type="text")
                        button.search__submit.btn-nice
                            span Read More
        
        .partners
            .container
                .partners__image-wrap
                    img.partners__image(src="img/partners.png", alt="partners")

        footer.footer
            .container
                .footer__body
                    .footer__contacts.contacts
                        p.contacts__title Contacts:

                        a.contacts__address.contacts__item.address.footer-hover(target="_blank" href="https://www.google.com/maps/place/Rathaus+Hall/@40.7384143,-73.8156904,17z/data=!4m13!1m7!3m6!1s0x89c260618039000d:0x4e4216fa03a650cf!2zTWFpbiBTdCwgUXVlZW5zLCBOWSwg0KHQqNCQ!3b1!8m2!3d40.7359744!4d-73.8250952!3m4!1s0x89c2605dc72ddd95:0x2c3e99feda852fdb!8m2!3d40.7373887!4d-73.8165211")
                            svg.address__icon.contacts__icon
                                use(xlink:href="img/icons/icons.svg#address")
                            address.contacts__text 0123  Main Road, Your City, NY 123456
                        
                        a.contacts__phone.contacts__item.phone.footer-hover(href="tel:(000)23456789")
                            svg.phone__icon.contacts__icon
                                use(xlink:href="img/icons/icons.svg#phone")
                            p.contacts__text (000) 2345 - 6789

                        a.contacts__mail.contacts__item.mail.footer-hover(href="mailto:info@me-store.com") 
                            svg.mail__icon.contacts__icon
                                use(xlink:href="img/icons/icons.svg#envelope")
                            p.contacts__text info@me-store.com

                    .footer__socials.socials
                        p.socials__title Follow us:
                        
                        .socials__inner
                            a.socials__item.footer-hover(href="")
                                svg.socials__icon
                                    use(xlink:href="img/icons/icons.svg#google-plus")
                                p.socials__text
                                    span Google+

                            a.socials__item.footer-hover(href="")
                                svg.socials__icon
                                    use(xlink:href="img/icons/icons.svg#pinterest")
                                p.socials__text
                                    span Pinterest

                            a.socials__item.footer-hover(href="")
                                svg.socials__icon
                                    use(xlink:href="img/icons/icons.svg#vimeo")
                                p.socials__text
                                    span Vimeo

                            a.socials__item.footer-hover(href="")
                                svg.socials__icon
                                    use(xlink:href="img/icons/icons.svg#facebook")
                                p.socials__text
                                    span Facebook

                            a.socials__item.footer-hover(href="")
                                svg.socials__icon
                                    use(xlink:href="img/icons/icons.svg#twitter")
                                p.socials__text
                                    span Twitter

                            a.socials__item.footer-hover(href="")
                                svg.socials__icon
                                    use(xlink:href="img/icons/icons.svg#rss")
                                p.socials__text
                                    span RSS

                    .footer__payment.payment
                        p.payment__title Payment Methods: 
                        
                        .payment__inner
                            .payment__item(title="PayPal")
                                svg.payment__icon
                                    use(xlink:href="img/icons/icons.svg#paypal")

                            .payment__item(title="MasterCard")
                                svg.payment__icon
                                    use(xlink:href="img/icons/icons.svg#mastercard")

                            .payment__item(title="Visa")
                                svg.payment__icon
                                    use(xlink:href="img/icons/icons.svg#visa")

                            .payment__item(title="Discover")
                                svg.payment__icon
                                    use(xlink:href="img/icons/icons.svg#discover")

                            .payment__item(title="Diners-club")
                                svg.payment__icon
                                    use(xlink:href="img/icons/icons.svg#diners-club")
                    
                p.footer__rights © 2022 | All Rights Reserved.


        #cube-loader
            .caption
                .cube-loader
                    .cube.loader-1
                    .cube.loader-2
                    .cube.loader-4
                    .cube.loader-3

        script(src="js/jquery-3.5.1.min.js")
        script(src="js/wow.min.js")
        script(src="js/slick.min.js")
        script
            | new WOW().init();
            
        script(src="js/main.js")